/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }

body { font: 14px/1.4 Georgia, serif; }

#page-wrap { width: 75%; margin: 80px auto; }

h1 { font: bold 36px Sans-Serif; margin: 0 0 20px 0; }